#/usr/local/bin/python3.4

<!DOCTYPE html>
<html>
<head>
	<style>
#streetview-canvas {
	width: 600px ;
	height: 600px ;
}
	</style>
</head>
<body>
	<div id="streetview-canvas"></div>

	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCTFOrElwhPebTaVDXRA-xsd8K6X4ioaXI"></script>
	<script>
var container = document.getElementById( "streetview-canvas" ) ;

// StreetViewPanorama
var streetViewPanorama = new google.maps.StreetViewPanorama( container, {
	position: new google.maps.LatLng( 35.77605114120131, 139.78860309786995 ) ,
} ) ;
	</script>
</body>
</html>